body {
    background-color: #c32a2a;
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}

.shadow {
    box-shadow: 5px 5px 10px 3px #303030;
}

.parts {
    background-color: rgba(0, 0, 0, 0.6);
}

.DisplayBar {
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
}

.DisplayBar> * {
    display: inline-block;
}

.DisplayBar .RoomName {
    width: 150px;
    height: ;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.DisplayBar .RoomName span {}

.DisplayBar .PlayerNum {
    position: absolute;
    right: 0px;
    width: 150px;
    height: ;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.DisplayBar .PlayerNum span {}

.PlayersView {
    position: absolute;
    margin: 50px 5px;
    height: 70%;
    width: 99%;
    overflow: auto;
    border: solid 1px white;
}

.Player {
    margin: 10px;
    position: relative;
    width: 90px;
    height: 100px;
    display: inline-block;
}

.Player img {
    display: block;
    width: 100%;
    height: 75%;
}

.player span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.player .name {
    font-size: large;
    font-weight: bold;
}

.player .table {}

.StatusBar {
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px
}

.StatusBar .button {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: baseline;
}
