body {
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
    position: relative;
    height: 650px;
}

.loginArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 130px;
}

.loginArea .loginForm {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
}

.loginArea div {}

.loginArea span {
    display: inline-block;
    width: 65px;
    text-align: left;
    color: whitesmoke;
}

.loginArea input {
    width: 224px;
}

.loginArea input:focus {
    border-color: aqua;
    box-sizing: border-box;
}

.button {
    padding-top: 10px;
}

button {
    width: 295px;
}

.ErrArea {
    color: red;
    text-align: center;
    padding-top: 10px;
}
